html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
  }
  
  button {
    height: 60px;
    font-size: 2rem!important;
  }
  
  .equal-sign {
    height: 98%;
    grid-area: 4 / 4 / 6 / 5;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  /************/

.calculadora{
    display:block;
    margin:0 auto;
    padding:20px;
    background-color:#2980b9;
    width:300px;
    height:500px;
    border-radius: 25px;
  }
  .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
  }
  #creditos{
    display:block;
    padding-top:20px;
    color:#fff;
    text-align: center;
    width:300px;
  }
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 25px;
    overflow-y: scroll;
  }